redirects: on
framework: auto-detect

source https://api.nuget.org/v3/index.json

clitool dotnet-fake

nuget MathNet.Numerics.FSharp

nuget Informedica.GenUtils.Lib
nuget Informedica.GenSolver.Lib
nuget Informedica.GenUnits.Lib

// group build
group Build
	source https://api.nuget.org/v3/index.json
	
	nuget FSharp.Formatting
	nuget Newtonsoft.Json


// group project


// group test
group Test
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp3.0
    storage: none

	nuget Expecto
	nuget Expecto.BenchmarkDotNet
	nuget Expecto.FsCheck
	nuget Expecto.Hopac
	nuget FSharp.Quotations.Evaluator

