type project
iconUrl
    https://raw.githubusercontent.com/halcwb/GenOrder/master/docs/files/img/logo.png
licenseUrl
    http://github.com/halcwb/GenOrder/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2016